<div class="card">
    <div class="card-header center">
        <h2>Create Offer</h2>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="startdate">Start Date:</label>
                <input type="date" name="startdate" class="form-control" value="">
            </div>

            <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="enddate">End Date:</label>
                <input type="date" name="enddate" class="form-control" value="">
            </div>

            <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="offerType">Offer Type:</label>
                <select class="form-control" id="offerType" ng-options="offerType.value as offerType.label for offerType in offerTypesOptions" ng-model="selectedOfferType">
                    <!-- <option ng-repeat="offerType in offerTypesOptions" ng-selected="selectedOfferType.value==offerType.value" value="{{offerType.value}}">{{offerType.label}}</option> -->
                </select>
            </div>

            <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="offerType">Applied On:</label>
                <select class="form-control" id="appliedOn" ng-options="on.value as on.label for on in appliedOnOptions" ng-model="selectedAppliedOn">
                    <!-- <option ng-repeat="on in appliedOnOptions" ng-selected="selectedAppliedOn.value==on.value" value="{{on.value}}">{{on.label}}</option> -->
                </select>
            </div>

            <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="offerType">Prerequisite Type:</label>
                <select class="form-control" id="prereqType" ng-options="prereqType.value as prereqType.label for prereqType in prereqTypeOptions" ng-model="selectedPrereqType">
                    <!-- <option ng-repeat="prereqType in prereqTypeOptions" ng-selected="selectedPrereqType.value==prereqType.value" value="{{prereqType.value}}">{{prereqType.label}}</option> -->
                </select>
            </div>

            <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="offerType">Norm Type:</label>
                <select class="form-control" id="normType" ng-options="normType.value as normType.label for normType in normTypeOptions" ng-model="selectedNormType">
                    <!-- <option ng-repeat="normType in normTypeOptions" value="{{normType.value}}">{{normType.label}}</option> -->
                </select>
            </div>

            <!-- <div class="form-group col-md-6 col-sm-12 col-lg-4">
                <label for="offerType">Target:</label>
                <select class="form-control" id="targetGroups">
                    <option ng-repeat="targetGroup in targetGroups">{{targetGroup.value}}</option>
                </select>
            </div> -->

        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-6">

                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="center">Groups</h4>
                        <div class="list-group searchresults">
                            <a href="" class="list-group-item list-group-item-action" ng-repeat="(groupIndex, group) in groups track by $index" ng-class="{'active': groupIndex == currGroupIndex}"
                                ng-click="setGroup(groupIndex)">
                                <span class="badge badge-secondary">{{group.groupId}} </span> {{getSummaryText(group)}} <span class="badge badge-success badge-pill float-right">{{group.quantity}}</span>
                            </a>
                        </div>
                        <br>
                        <div class="btn-group float-right">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Qty: </span>
                                </div>
                                <input type="number" name="gpqty" class="form-control" min="0" ng-model="gpqty" ng-change="setQty()">
                            </div>
                            <button class="btn btn-success" ng-click="createGroup()">Create</button>
                            <button class="btn btn-danger" ng-disabled="currGroupIndex < 0" ng-click="deleteGroup()">Delete</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="center">Add items</h4>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchterm" ng-change="fetchSearchItems()">
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-sm" type="submit" ng-show="searchingInProgress" disabled>Loading</button>
                            </div>
                        </div>
                        <div class="list-group searchresults">
                            <a href="" data-toggle="tooltip" title="Click To Add" class="list-group-item list-group-item-action" ng-repeat="(itemIndex, item) in searchRes track by $index"
                                ng-click="addItem(itemIndex)">
                                <span class="badge badge-secondary">{{item.sku}}</span>
                                {{item.productName}}
                                </li>

                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>


            <div class="col-sm-12 col-md-6">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- <h4 class="center">Group Items</h4>
                        <div class="form-group col-md-6 col-sm-12 col-lg-4">
                        </div> -->

                        <h4 class="center">Group Items</h4>
                        <ul class="list-group searchresults">
                            <li ng-show="groupitems.length < 1" class="list-group-item disabled">No Items</li>
                            <li ng-repeat="(itemIndex, item) in groupitems track by $index" class="list-group-item list-group-item-action">
                                <span class="badge badge-secondary">{{item.sku}}</span>
                                {{item.productName}}
                                <button type="button" class="btn text-right float-right btn-sm btn-danger" ng-click="deleteItem(itemIndex)">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer">Footer</div> -->
</div>